body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Limelight', cursive;
  src: url(https://fonts.googleapis.com/css2?family=Limelight&display=swap);
}

@font-face {
  font-family:'Nunito', sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Limelight&family=Nunito:ital,wght@0,800;0,900;1,800&display=swap);
}
