.title_header_character {
  text-transform: uppercase;
  color: #FFD778;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  text-align: center;
  margin-top: 130px;
}

.card_box_container {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  padding: 20px;
}

.list_block {
  list-style-type: none;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.linkToQuotes {
  text-decoration: none;
}

.filters {
  margin: 0 auto;
  width: 80%;
}

.filters > div {
  width: 100%;
}

