.nav_container {
  display: flex;
}

.nav_block {
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: #E1F5F7;
  top: 0;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.nav_item {
  text-transform: uppercase;
  font-weight: 700;
  display: inline;
  width: 100%;
  float: left;
  text-align: center;
}

.link_nav {
  text-decoration: none;
  color: #6D475B;
}

@media (max-width: 600px) {
  .nav_item {
    display: none;
  }

  .button_navbar{
    display: inline-block;
    cursor: pointer;
    margin: 10px;
  }
}